@font-face {
  font-family: forestFont;
  src: url(/css/fonts/Forest.otf);
}

@font-face {
  font-family: punkBottom;
  src: url(/css/fonts/Punk\ Lover\ -\ Bottom\ Layer.ttf);
}

@font-face {
  font-family: punkTop;
  src: url(/css/fonts/Punk\ Lover\ -\ Top\ Layer.ttf);
}

@font-face {
  font-family: CraftyFont-CandyStripes-Regular;
  src: url(/css/fonts/Crafty\ Font\ -\ Candy\ Stripes.otf);
}

@font-face {
  font-family: CraftyFont-Shading-Regular;
  src: url(/css/fonts/Crafty\ Font\ -\ Shading.otf);
}

@font-face {
  font-family: CraftyFont-PolkaDot-Regular;
  src: url(/css/fonts/Crafty\ Font\ -\ Polka\ Dot.otf);
}

@font-face {
  font-family: CraftyFont-Chevron-Regular;
  src: url(/css/fonts/Crafty\ Font\ -\ Chevron.otf);
}

@font-face {
  font-family: CraftyFont-Regular-Regular;
  src: url(/css/fonts/Crafty\ Font\ -\ Regular.otf);
}

@font-face {
  font-family: CraftyFont-Sprinkles1-Regular;
  src: url(/css/fonts/Crafty\ Font\ -\ Sprinkles\ 1.otf);
}

@font-face {
  font-family: CraftyFont-Stitched-Regular;
  src: url(/css/fonts/Crafty\ Font\ -\ Stitched.otf);
}

.doublefont {
  position: relative;
  color: #4e598c;
  font-family: punkBottom;
  background: none;
  font-size: 9rem;
}
.doublefont:after {
  content: "ISH";
  color: #d98496;
  font-family: punkTop;
  font-size: 9rem;
  position: absolute;
  top: 0;
  left: 0;
}

.doublefont2 {
  position: relative;
  color: #ed1234;
  font-family: punkBottom;
  background: none;
  font-size: 6rem;

  text-align: center;
}

.doublefont2:after {
  font-size: 6rem;
  content: "BANKSY?";
  color: #262626;
  font-family: punkTop;

  text-align: center;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}
