a {
  text-decoration: none;
  color: #4e598c;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;

  /* background-color: #4bbfc3; */
  background-color: none;
  color: #4e598c;
  background-color: #e0e5ec;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
  background-size: cover;
}

.title {
  text-align: left;
  font-size: 10rem;
  position: absolute;
  top: 30vh;
  left: 5vw;
}

.subtitle {
  text-align: left;
  font-size: 3rem;
  font-style: normal;
  position: absolute;
  top: 50vh;
  left: 5vw;
}

.scrollSection {
  width: 100vw;
  height: 125vh;
}

.bottom {
  background: none;
  font-size: 22px;
  width: 100vw;

  bottom: 1em;

  display: flexbox;
  flex-direction: row;
  position: fixed;
}

.gg-chevron-down {
  margin-left: auto;
  margin-right: auto;
  color: #262626;
}

.headerContainer {
  height: 20vh;
}

.processImage {
  top: 0;
  height: 100%;
}

/* Navigation */
.buttons {
  position: fixed;
  top: 0.2em;
  right: -2.7em;
  display: flex;
  flex-direction: column;
  background: none;
}

.button {
  background: none;
  border: none;
  padding: 60px 0px;
  transform: rotate(90deg);
  color: white;
  background: none;
}

.work {
  position: relative;
  color: #4e598c;
  font-family: CraftyFont-Regular-Regular;
  background: none;
  font-size: 2.5rem;
}

.work:after {
  content: "WORK";
  color: #d98496;
  font-family: CraftyFont-PolkaDot-Regular;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.contact {
  position: relative;
  color: #d98496;
  font-family: CraftyFont-Regular-Regular;
  background: none;
  font-size: 2.5rem;
}

.contact:after {
  content: "CONTACT";
  color: #4e598c;
  font-family: CraftyFont-PolkaDot-Regular;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
