* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #747475;
}

body {
  /* background-color: #4bbfc3; */
  background-color: none;
}

.buttons {
  position: fixed;
  top: 1em;
  right: 1em;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.button {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
}

.bottom {
  background: none;
  font-size: 22px;
  width: 100vw;

  position: fixed;
  bottom: 1em;

  display: flexbox;
  flex-direction: row;
}

.gg-chevron-down {
  margin-left: auto;
  margin-right: auto;
  color: #262626;
}

.s1 {
  background-image: linear-gradient(#4bbfc3, #7baabe),
    url(/img/backgroundWaves.png);

  background-blend-mode: multiply;
  /* 
  background-image: url(/img/texturedWaves.png); /* fallback */
  /* background-image: url(/img/texturedWaves.png),
    linear-gradient(#e0e5ec, #e0e5ec); */
  /* background: linear-gradient(#4bbfc3, #7baabe); */

  background-size: cover;
  background-position: top right;
}

.text-container {
  padding: 10px 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4),
    8px 8px 12px rgba(0, 0, 0, 0.08);
  caret-color: #262626;

  display: flexbox;
  margin-left: 5em;
  animation: fadeInAnimation ease 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.title {
  color: #747475;
  text-align: left;
  font-size: 6rem;
  text-shadow: 20px 20px 60px #40a2a6, -20px -20px 60px #56dce0;
}

.subtitle {
  color: #747475;
  text-align: left;
  font-size: 2rem;
}

.ish {
  color: #e0e5ec;
  background: none;
  text-shadow: 20px 20px 60px #40a2a6, -20px -20px 60px #56dce0;
}

.s2 {
  background: -webkit-gradient(
    linear,
    top left,
    bottom left,
    from(#7baabe),
    to(#7baabe)
  );
  background: -webkit-linear-gradient(#7baabe, #7baabe);
  background: linear-gradient(#7baabe, #7baabe);
}

.s2 h1 {
  color: white;
  text-align: left;
  margin-left: 2em;
  font-size: 4rem;
}

.bounce {
  -moz-animation: bounce 3s normal;
  -webkit-animation: bounce 3s normal;
  animation: bounce 3s normal;
}

@keyframes bounce {
  0%,
  1%,
  20%,
  30%,
  40%,
  50%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-20px);
  }
  90% {
    transform: translateY(-10px);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
