* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #4e598c;
}

body {
  /* background-color: #4bbfc3; */
  background-color: none;
  color: #4e598c;
}

.buttons {
  position: fixed;
  top: 1.6em;
  right: -1.2em;
  display: flex;
  flex-direction: column;
}
.button {
  background: none;
  border: none;
  padding: 50px 0px;
  transform: rotate(90deg);
  color: white;
}

.bottom {
  background: none;
  font-size: 22px;
  width: 100vw;

  position: fixed;
  bottom: 1em;

  display: flexbox;
  flex-direction: row;
}
.gg-chevron-down {
  margin-left: auto;
  margin-right: auto;
  color: #262626;
}

.s1 {
  background-image: linear-gradient(#e0e5ec, #e0e5ec),
    url(/img/Group\ 165@2x.png);

  background-blend-mode: multiply;
  background-size: cover;
  background-position: top right;
}

.processImg {
  position: fixed;
  bottom: 3em;
  right: 2em;
  width: 35%;
}

.work {
  position: relative;
  color: #4e598c;
  font-family: CraftyFont-Regular-Regular;
  background: none;
  font-size: 2rem;
}
.work:after {
  content: "WORK";
  color: #d98496;
  font-family: CraftyFont-PolkaDot-Regular;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.contact {
  position: relative;
  color: #d98496;
  font-family: CraftyFont-Regular-Regular;
  background: none;
  font-size: 2rem;
}
.contact:after {
  content: "CONTACT";
  color: #4e598c;
  font-family: CraftyFont-PolkaDot-Regular;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.text-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;

  display: flexbox;
  margin-left: 5em;
  animation: fadeInAnimation ease 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.title {
  text-align: left;
  font-size: 10rem;
}

.subtitle {
  text-align: left;
  font-size: 3rem;
  font-style: normal;
}

.s2 {
  background: -webkit-gradient(
    linear,
    top left,
    bottom left,
    from(#e0e5ec),
    to(#7baabe)
  );
  background: -webkit-linear-gradient(#e0e5ec, #7baabe);
  background: linear-gradient(#e0e5ec, #7baabe);
}

.s2 h1 {
  color: white;
  text-align: left;
  margin-left: 2em;
  font-size: 4rem;
}

.bounce {
  -moz-animation: bounce 3s normal;
  -webkit-animation: bounce 3s normal;
  animation: bounce 3s normal;
}

@keyframes bounce {
  0%,
  1%,
  20%,
  30%,
  40%,
  50%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-20px);
  }
  90% {
    transform: translateY(-10px);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.w1 {
  background-image: linear-gradient(#e0e5ec, #e0e5ec);

  background-blend-mode: multiply;
  background-size: cover;
  background-position: top right;
}
